#title { color: red; font-size: 60px; font-weight: bold; }
body { color: #dddddd; }
#title { color: #00ff99; font-size: 36px; font-weight: bold; }
.card { color: #9be3ff; font-size: 22px; }
a { color: #ff77ff; font-size: 20px; }